@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{box-sizing: border-box;}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

.Logo{
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

/* ========================= */

 .sem-quizz-usuario {
    width: 1051px;
    height: 181px;
    margin: 140px auto 77px;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.tela1-inicial article p{
    color: #B9B9B9;
    font-size: 20px;
    text-align: center;
}
.tela1-inicial article button{
    background-color: #fafafa;
    color: #EC362D;
    font-size: 21px;
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}

.quizz-servidor{
    width: 1051px;
    height: auto;
    margin: 0 auto;
}
.quizz-servidor header{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;
}
.quizz-servidor .todos-quizzes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.quizz-servidor figure{
    width: 340px;
    height: 181px;
    margin-bottom: 12px;
    cursor: pointer;
    position: relative;
}
.quizz-servidor figure:hover{
    opacity: 0.8;
}
.quizz-servidor figure img{
    width: 340px;
    height: 181px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 12px;
}
.quizz-servidor figure div{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.quizz-servidor figure figcaption{
    color: #FFFFFF;
    width: 300px;
    font-size: 19px;
    line-height: 22px;
    position: absolute;
    bottom: 7px;
    left: 18px;
    z-index: 2;
}
 
/*Estilização da segunda Tela (Exibição do quizz)*/
 .titulo-do-quizz{
    width: 100%;
    height: 227px;
    margin: 69px 0 42px;
    position: relative;
}
.titulo-do-quizz div{
    width: 100%;
    height: 227px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.titulo-do-quizz img{
    width: 100%;
    height: 227px;
    object-fit: cover;
}
.titulo-do-quizz h1{
    width: 90%;
    color: #FFFFFF;
    font-size: 39px;
    text-align: center;
    margin-top: -19.5px;
    margin-left: -45%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
} 
    /*Aqui sera feito o layout das perguntas*/
 .pergunta-quizz{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 759px;
    height: auto;
    margin: 0 auto 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pergunta-quizz header{
    color: white;
    font-weight: bold;
    font-size: 23px;
    width: 688px;
    height: 137px;
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opçao-de-resposta{
    width: 688px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.opçao-de-resposta figure{
    margin-bottom: 20px;
    cursor: pointer;
}
.opçao-de-resposta img{
    width: 329px;
    height: 175px;
    object-fit: cover;
    margin-bottom: 5px;
} 
        /*Aqui será definido uma cor padrao para a descrição das img e
        uma cor correspondente a resposta certa e as erradas e tambem
        a estilizaçao quando clicado em uma alternativa*/
 .res-errada{
    color: #FF4B4B;
    font-weight: 700;
    font-size: 20px;
}
.res-certa{
    color: #009C22;
    font-weight: 700;
    font-size: 20px;
}
.cor-padrao{
    color: #000000;
    font-weight: 700;
    font-size: 20px;
}
.desfocar{
    opacity: 0.3;
} 
    /*Aqui será estilizado o quadro do resultado e os botões*/
 .resultado-quizz{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 759px;
    height: 430px;
    overflow: hidden;
    margin: 0 auto 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.resultado-quizz header{
    color: white;
    background-color: #434CA0;
    font-weight: bold;
    font-size: 23px;
    width: 727px;
    height: 99px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resultado-quizz figure{
    width: 727px;
    margin: 0 auto;
    display: flex;
}
.resultado-quizz img{
    width: 364px;
    height: 273px;
    object-fit: cover;
}
.resultado-quizz figcaption{
    color: #484848;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    margin-left: 21px;
}
.final{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.final button:first-child{
    background-color: #EC362D;
    color: #FFF5F4;
    font-size: 21px;
    border-radius: 15px;
    border: none;
    width: 260px;
    height: 52px;
    cursor: pointer;
}
.final button:last-child{
    background-color: #fafafa;
    color: #818181;
    font-size: 21px;
    border: none;
    margin: 16px 0 40px;
    cursor: pointer;
}
.final button:hover{
    opacity: 0.5;
} 

/*Essa é a classe usada para "desligar" uma tela*/
/* .oculto{
    display: none;
}
 */

/* nicolas já colocou o fun cinza claro */
.create{
    background-color: #E5E5E5;
}

.createAquizz{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.createAquizz .hidden{
    display: none;
}

.createAquizz > h1{
    font-weight: 700;
    color: #000000;
    font-size: 23px;
    margin-top: 135px;
}

.basicInfo{
    height: 256px;
    width: 600px;
    padding: 18px 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: #FFFFFF;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.basicInfo > input{
    width: 564px;
    height: 46px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
}
 
.basicInfo > input::placeholder{
    font-size: 19px;
    color: #bababa;
    font-weight: 400;
    font-style: italic;
}

.createAquizz > button {
    font-weight: 400;
    color: #fff5f4;
    border: none;
    background-color: #EC362D;
    border-radius: 15px;
    width: 368.86px;
    height: 54px;
    font-size: 21px;
    margin-top: 85px; 
    margin-bottom: 100px ;
}

.createQuestions{
    position: relative;
    width: 600px;
    padding: 18px 17px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: #FFFFFF;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.createQuestions > .ionicon {
    font-size: 35px;
    position: absolute;
    top: 28px;
    right: 25px;
    color: #000000;
    opacity: 50%;
}



/* .createQuestions > ion-icon .nosee {
    color: #FFFFFF;
} */


.createQuestions > .reduced {
    display: none;
}


.createQuestions > input{
    width: 564px;
    height: 46px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    margin-top: 13px;
}

.createQuestions  > .wrongImage{
    margin-bottom: 28px;
}

.createQuestions > input::placeholder{
    font-size: 19px;
    color: #bababa;
    font-weight: 400;
    font-style: italic;
}

.createQuestions > h2{
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    margin-top: 26px;
    margin-bottom: 11px;
}


.createQuestions > .expanded > input{
    width: 564px;
    height: 46px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    margin-top: 13px;
}

.createQuestions  > .expanded > .wrongImage{
    margin-bottom: 30px;
}

.createQuestions > .expanded > input::placeholder{
    font-size: 19px;
    color: #bababa;
    font-weight: 400;
    font-style: italic;
}

.createQuestions > .expanded > h2{
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    margin-top: 26px;
    margin-bottom: 11px;
}

.createLevels{
    position: relative;
    width: 600px;
    padding: 18px 17px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: #FFFFFF;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.createLevels > .ionicon2 {
    font-size: 35px;
    position: absolute;
    top: 28px;
    right: 25px;
    color: #000000;
    opacity: 50%;
}

.createLevels > h2{
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 11px;
}

.createLevels > .reduced {
    display: none;
}

.createLevels > input{
    width: 564px;
    height: 46px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    margin-top: 9px;
}

.createLevels > input::placeholder{
    font-size: 19px;
    color: #bababa;
    font-weight: 400;
    font-style: italic;
}

.createLevels > .expanded2 > input{
    width: 564px;
    height: 46px;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    margin-top: 9px;
}

.createLevels > .expanded2 > input::placeholder{
    font-size: 19px;
    color: #bababa;
    font-weight: 400;
    font-style: italic;
}

.quizzReady{
    width: 500px;
    height: 266px;
    margin-top: 46px;
    position: relative;
}
 .gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
 }

.quizzReady > img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    
}

.quizzReady > h2{
    position: absolute;
    left: 20px;
    bottom:18px;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 400;
}

button.accessQuizz{
    width: 279.64px;
    height: 44px;
    margin-bottom: 28px;
}

h3{
    font-size: 21px;
    color: #818181;
}  
/*Estilização da Tela Inicial*/
/* ==================== */
